<h1 class="login-top">Bything</h1>
<div class="login-contents">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:"login-form" %>
  </div>  
  <div class="field">  
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class:"login-form" %>
  </div>
  <div class="actions">
    <%= f.submit "ログイン", class:"login-input" %>
  </div>  
    

<% end %>
<div class="login-sub">
<%= render "devise/shared/links" %>
</div>
</div>

